
/*-----------------------------------------------------------------------------------*/
/* Mav Slider - http://www.mattiaviviani.com/mav-slider/ */
/*-----------------------------------------------------------------------------------*/

#mav-slider {
	/*display: block;
	float: left;*/
	/*position: relative;*/
	/*height: 300px;*/
	width: 100%;
	height: 100%;
	height: 360px; /* default slider height, if not included into the framework */
}

#slideshow {
	overflow: hidden !important;
	background-image: url(../images/loading-slider.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: transparent;
	width: 100% !important;
	max-width: 940px;
	height: 100% !important;
}

#slideshow.dragdealer { position: relative; }

#slideshow.dragdealer .disabled { /*background-color: #333;*/ }

#slideshow .handle {
	position: absolute;
	cursor: pointer; /* trick for opera */
	cursor: hand;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	background-color: #111314;
}

#slideshow .handle:active,
#slideshow .handle a:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

#slideshow .handle .slide {
	width: 100% !important;
	max-width: 940px;
	height: 100% !important;
}

#slideshowmenuwrapper {
	position: relative;
	width: 100%;
	/*position: absolute;
	width: 940px;*/
	overflow: hidden;
	float: left;
	/*border-bottom: 1px solid #d8dbdf;*/
	/*padding-bottom: 15px;*/
	margin-top: 7px;
}

#slideshowmenuwrapper .cursor {
	position: absolute;
	/*bottom: 0;*/
	height: 4px;
	background-color: #39c; /* alternate */
	width: 25% !important;
}

ul#slideshowmenu,
ul#slideshownav {
	width: auto;
	margin: 11px 0 0 0;
}

ul#slideshowmenu { float: left; /*margin: 19px 0 0 0;*/ }

ul#slideshownav { float: right; }

ul#slideshowmenu li,
ul#slideshownav li {
	margin: 0;
	list-style-type: none;
}

ul#slideshowmenu li { float: left; }

ul#slideshownav li { float: right; }

ul#slideshowmenu li a,
ul#slideshownav li a {
	display: block;
	background-color: #111314;
	-webkit-transition: background-color .1s linear 0s;
	-moz-transition: background-color .1s linear 0s;
	-o-transition: background-color .1s linear 0s;
	transition: background-color .1s linear 0s;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
}

ul#slideshowmenu li a {
	margin-right: 4px;
	width: 18px;
	height: 18px;
}

ul#slideshownav li a {
	margin-left: 4px;
	width: 32px;
	height: 32px;
	background-image: url(../images/slider-arrows.png);
	background-repeat: no-repeat;
}

ul#slideshownav li a#linkb { background-position: 9px 6px; }

ul#slideshownav li a#linka { background-position: -36px 6px; }

ul#slideshowmenu li a:hover,
ul#slideshownav li a:hover {
	text-decoration: none;
	background-color: #39c; /* alternate */
}

ul#slideshowmenu li a.active { text-decoration: none; background-color: #39c; /* alternate */ }

.slide-text {
	/*background-color: #111314;
	background-color: rgba(0,0,0,.90);*/
	padding: 14px 19px;
	color: #e3e9ee;
	width: auto;
	max-width: 562px;

	position: absolute;
	top: auto;
	bottom: 10px;
	/*right: 10px;*/
	/*display: block;*/

	margin-left: 10px;

	/*float: right;
	clear: right;
	issues make it floating right!!! */

	font-family: "Helvetica-Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	/*line-height: 21px;*/ /* even if it's 14px */

	/* White solution */
	background-color: #fff;
	background-color: rgba(255,255,255,1);
	padding: 14px 19px;
	color: #6b7175;

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}

h2.slide-title { /*color: #fff;*/ margin-bottom: 0; }

p.slide-desc { margin-bottom: 0px; }

p.slide-desc a {
	border-bottom: 1px solid transparent;
	-webkit-transition: color .1s linear 0s, border .1s linear 0s;
	-moz-transition: color .1s linear 0s, border .1s linear 0s;
	-o-transition: color .1s linear 0s, border .1s linear 0s;
	transition: color .1s linear 0s, border .1s linear 0s;
	padding-bottom: 1px;

	font-weight: normal;
}

p.slide-desc a:hover {
	/*color: #fff;*/
	border-bottom: 1px solid #d8dbdf;
}

h2.slide-title+p.slide-desc { margin-top: 5px; }


/***** Media Queries *****/

/* All Mobile ----------- */
@media only screen and (min-width : 240px) and (max-width : 1024px) {

	.slider-home { display: inline-block; }

}


/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

	#mav-slider { /*height: 66% !important;*/ }

	#slideshow .handle .slide { /*width: 620px !important;*/ max-width: 620px; }

	.slide-text { max-width: 560px; }

}


/* Smartphones (portrait + landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px) {

	#mav-slider {  }

	#slideshow .handle .slide { /*width: 620px !important;*/ max-width: 440px; }

	.slide-text { width: 380px; }

}


/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) and (max-width : 520px) and (orientation : portrait) {

	#mav-slider { /*height: 69% !important;*/ }

	#slideshow .handle .slide { /*width: 620px !important;*/ max-width: 300px; }

	.slide-text { width: 240px; }

}

