@font-face {
    font-family: Orkestra;
    src: url(orkestra.otf);
}
html{
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(74,80,86,0.2) 0%, rgba(44,48,52,0) 40%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top,  rgba(74,80,86,0.2) 0%,rgba(44,48,52,0) 40%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom,  rgba(74,80,86,0.2) 0%,rgba(44,48,52,0) 40%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334a5056', endColorstr='#00000000',GradientType=0 );

}
body{
	font-family: Orkestra;
	font-size: 18px;
	color:#4a5056;
	padding: 20px 0 20px 0;
}
ul{
	padding-left: 0;
	list-style: circle url("")
}
li{
	padding-bottom: 10px;
}
.row{
	overflow: none;
}
.emphasize{
	padding: 2px 4px 0 4px;
	color: white;
	background-color: #4a5056;
	cursor: default;
}
.harfmarf:hover{
	background-color: #575269;
}
.beatografi:hover{
	background-color: #fa4141;
}
.nebuu:hover{
	background-color: #542437;
}
.akorlar:hover{
	background-color: #d76450;
}
.countdo:hover{
	background-color: #59cbb5;
}
.ply:hover{
	background-color: #1c4e5b;
}
.social{
	width: 26px;
	height: 26px;
	vertical-align: middle;
}
.bueno{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}